.homepage_grid .item .category.banco-de-alimentos, body.category-banco-de-alimentos #page-header .page-title, body.category-banco-de-alimentos .btn-custom, body.category-banco-de-alimentos .category-icon, body.single-post .category-box.banco-de-alimentos .category-icon, body.single-post .category-box.banco-de-alimentos .btn-custom, body.single-post .category-box.banco-de-alimentos .btn-custom:hover {
			background-color: #cd6f00;
		}
		body.category-banco-de-alimentos .tt-heading.title-wrapper {
			background: #cd6f00;
		}
		body.category-banco-de-alimentos .btn-custom, body.single-post .category-box.banco-de-alimentos .btn-custom, body.single-post .category-box.banco-de-alimentos .btn-custom:hover {
			border-color: #cd6f00;
		}
		.blog-contents .item .content .category.banco-de-alimentos span {
			background-color: #cd6f00;
		}
		body.single-post .page-header .category-box.banco-de-alimentos .title a, .widget_categories > ul > li.cat-item-3:hover::before {
			color: #cd6f00;
		}.homepage_grid .item .category.banco-de-medicamentos, body.category-banco-de-medicamentos #page-header .page-title, body.category-banco-de-medicamentos .btn-custom, body.category-banco-de-medicamentos .category-icon, body.single-post .category-box.banco-de-medicamentos .category-icon, body.single-post .category-box.banco-de-medicamentos .btn-custom, body.single-post .category-box.banco-de-medicamentos .btn-custom:hover {
			background-color: #4fc5d0;
		}
		body.category-banco-de-medicamentos .tt-heading.title-wrapper {
			background: #4fc5d0;
		}
		body.category-banco-de-medicamentos .btn-custom, body.single-post .category-box.banco-de-medicamentos .btn-custom, body.single-post .category-box.banco-de-medicamentos .btn-custom:hover {
			border-color: #4fc5d0;
		}
		.blog-contents .item .content .category.banco-de-medicamentos span {
			background-color: #4fc5d0;
		}
		body.single-post .page-header .category-box.banco-de-medicamentos .title a, .widget_categories > ul > li.cat-item-11:hover::before {
			color: #4fc5d0;
		}.homepage_grid .item .category.banco-de-ropa-y-articulos-varios, body.category-banco-de-ropa-y-articulos-varios #page-header .page-title, body.category-banco-de-ropa-y-articulos-varios .btn-custom, body.category-banco-de-ropa-y-articulos-varios .category-icon, body.single-post .category-box.banco-de-ropa-y-articulos-varios .category-icon, body.single-post .category-box.banco-de-ropa-y-articulos-varios .btn-custom, body.single-post .category-box.banco-de-ropa-y-articulos-varios .btn-custom:hover {
			background-color: #53729b;
		}
		body.category-banco-de-ropa-y-articulos-varios .tt-heading.title-wrapper {
			background: #53729b;
		}
		body.category-banco-de-ropa-y-articulos-varios .btn-custom, body.single-post .category-box.banco-de-ropa-y-articulos-varios .btn-custom, body.single-post .category-box.banco-de-ropa-y-articulos-varios .btn-custom:hover {
			border-color: #53729b;
		}
		.blog-contents .item .content .category.banco-de-ropa-y-articulos-varios span {
			background-color: #53729b;
		}
		body.single-post .page-header .category-box.banco-de-ropa-y-articulos-varios .title a, .widget_categories > ul > li.cat-item-12:hover::before {
			color: #53729b;
		}.homepage_grid .item .category.bazar-caritas, body.category-bazar-caritas #page-header .page-title, body.category-bazar-caritas .btn-custom, body.category-bazar-caritas .category-icon, body.single-post .category-box.bazar-caritas .category-icon, body.single-post .category-box.bazar-caritas .btn-custom, body.single-post .category-box.bazar-caritas .btn-custom:hover {
			background-color: #53729b;
		}
		body.category-bazar-caritas .tt-heading.title-wrapper {
			background: #53729b;
		}
		body.category-bazar-caritas .btn-custom, body.single-post .category-box.bazar-caritas .btn-custom, body.single-post .category-box.bazar-caritas .btn-custom:hover {
			border-color: #53729b;
		}
		.blog-contents .item .content .category.bazar-caritas span {
			background-color: #53729b;
		}
		body.single-post .page-header .category-box.bazar-caritas .title a, .widget_categories > ul > li.cat-item-34:hover::before {
			color: #53729b;
		}.homepage_grid .item .category.caritas-de-monterrey, body.category-caritas-de-monterrey #page-header .page-title, body.category-caritas-de-monterrey .btn-custom, body.category-caritas-de-monterrey .category-icon, body.single-post .category-box.caritas-de-monterrey .category-icon, body.single-post .category-box.caritas-de-monterrey .btn-custom, body.single-post .category-box.caritas-de-monterrey .btn-custom:hover {
			background-color: #ffd02b;
		}
		body.category-caritas-de-monterrey .tt-heading.title-wrapper {
			background: #ffd02b;
		}
		body.category-caritas-de-monterrey .btn-custom, body.single-post .category-box.caritas-de-monterrey .btn-custom, body.single-post .category-box.caritas-de-monterrey .btn-custom:hover {
			border-color: #ffd02b;
		}
		.blog-contents .item .content .category.caritas-de-monterrey span {
			background-color: #ffd02b;
		}
		body.single-post .page-header .category-box.caritas-de-monterrey .title a, .widget_categories > ul > li.cat-item-35:hover::before {
			color: #ffd02b;
		}.homepage_grid .item .category.caritas-parroquiales, body.category-caritas-parroquiales #page-header .page-title, body.category-caritas-parroquiales .btn-custom, body.category-caritas-parroquiales .category-icon, body.single-post .category-box.caritas-parroquiales .category-icon, body.single-post .category-box.caritas-parroquiales .btn-custom, body.single-post .category-box.caritas-parroquiales .btn-custom:hover {
			background-color: #1799a8;
		}
		body.category-caritas-parroquiales .tt-heading.title-wrapper {
			background: #1799a8;
		}
		body.category-caritas-parroquiales .btn-custom, body.single-post .category-box.caritas-parroquiales .btn-custom, body.single-post .category-box.caritas-parroquiales .btn-custom:hover {
			border-color: #1799a8;
		}
		.blog-contents .item .content .category.caritas-parroquiales span {
			background-color: #1799a8;
		}
		body.single-post .page-header .category-box.caritas-parroquiales .title a, .widget_categories > ul > li.cat-item-6:hover::before {
			color: #1799a8;
		}.homepage_grid .item .category.casos, body.category-casos #page-header .page-title, body.category-casos .btn-custom, body.category-casos .category-icon, body.single-post .category-box.casos .category-icon, body.single-post .category-box.casos .btn-custom, body.single-post .category-box.casos .btn-custom:hover {
			background-color: #c578c2;
		}
		body.category-casos .tt-heading.title-wrapper {
			background: #c578c2;
		}
		body.category-casos .btn-custom, body.single-post .category-box.casos .btn-custom, body.single-post .category-box.casos .btn-custom:hover {
			border-color: #c578c2;
		}
		.blog-contents .item .content .category.casos span {
			background-color: #c578c2;
		}
		body.single-post .page-header .category-box.casos .title a, .widget_categories > ul > li.cat-item-5:hover::before {
			color: #c578c2;
		}.homepage_grid .item .category.emergencias-por-desastres, body.category-emergencias-por-desastres #page-header .page-title, body.category-emergencias-por-desastres .btn-custom, body.category-emergencias-por-desastres .category-icon, body.single-post .category-box.emergencias-por-desastres .category-icon, body.single-post .category-box.emergencias-por-desastres .btn-custom, body.single-post .category-box.emergencias-por-desastres .btn-custom:hover {
			background-color: #c30000;
		}
		body.category-emergencias-por-desastres .tt-heading.title-wrapper {
			background: #c30000;
		}
		body.category-emergencias-por-desastres .btn-custom, body.single-post .category-box.emergencias-por-desastres .btn-custom, body.single-post .category-box.emergencias-por-desastres .btn-custom:hover {
			border-color: #c30000;
		}
		.blog-contents .item .content .category.emergencias-por-desastres span {
			background-color: #c30000;
		}
		body.single-post .page-header .category-box.emergencias-por-desastres .title a, .widget_categories > ul > li.cat-item-13:hover::before {
			color: #c30000;
		}.homepage_grid .item .category.eventos, body.category-eventos #page-header .page-title, body.category-eventos .btn-custom, body.category-eventos .category-icon, body.single-post .category-box.eventos .category-icon, body.single-post .category-box.eventos .btn-custom, body.single-post .category-box.eventos .btn-custom:hover {
			background-color: #0098ae;
		}
		body.category-eventos .tt-heading.title-wrapper {
			background: #0098ae;
		}
		body.category-eventos .btn-custom, body.single-post .category-box.eventos .btn-custom, body.single-post .category-box.eventos .btn-custom:hover {
			border-color: #0098ae;
		}
		.blog-contents .item .content .category.eventos span {
			background-color: #0098ae;
		}
		body.single-post .page-header .category-box.eventos .title a, .widget_categories > ul > li.cat-item-4:hover::before {
			color: #0098ae;
		}.homepage_grid .item .category.noticias, body.category-noticias #page-header .page-title, body.category-noticias .btn-custom, body.category-noticias .category-icon, body.single-post .category-box.noticias .category-icon, body.single-post .category-box.noticias .btn-custom, body.single-post .category-box.noticias .btn-custom:hover {
			background-color: #ffd02b;
		}
		body.category-noticias .tt-heading.title-wrapper {
			background: #ffd02b;
		}
		body.category-noticias .btn-custom, body.single-post .category-box.noticias .btn-custom, body.single-post .category-box.noticias .btn-custom:hover {
			border-color: #ffd02b;
		}
		.blog-contents .item .content .category.noticias span {
			background-color: #ffd02b;
		}
		body.single-post .page-header .category-box.noticias .title a, .widget_categories > ul > li.cat-item-17:hover::before {
			color: #ffd02b;
		}.homepage_grid .item .category.posada-del-peregrino, body.category-posada-del-peregrino #page-header .page-title, body.category-posada-del-peregrino .btn-custom, body.category-posada-del-peregrino .category-icon, body.single-post .category-box.posada-del-peregrino .category-icon, body.single-post .category-box.posada-del-peregrino .btn-custom, body.single-post .category-box.posada-del-peregrino .btn-custom:hover {
			background-color: #8468ae;
		}
		body.category-posada-del-peregrino .tt-heading.title-wrapper {
			background: #8468ae;
		}
		body.category-posada-del-peregrino .btn-custom, body.single-post .category-box.posada-del-peregrino .btn-custom, body.single-post .category-box.posada-del-peregrino .btn-custom:hover {
			border-color: #8468ae;
		}
		.blog-contents .item .content .category.posada-del-peregrino span {
			background-color: #8468ae;
		}
		body.single-post .page-header .category-box.posada-del-peregrino .title a, .widget_categories > ul > li.cat-item-9:hover::before {
			color: #8468ae;
		}.homepage_grid .item .category.promocion-humana, body.category-promocion-humana #page-header .page-title, body.category-promocion-humana .btn-custom, body.category-promocion-humana .category-icon, body.single-post .category-box.promocion-humana .category-icon, body.single-post .category-box.promocion-humana .btn-custom, body.single-post .category-box.promocion-humana .btn-custom:hover {
			background-color: #6fbd54;
		}
		body.category-promocion-humana .tt-heading.title-wrapper {
			background: #6fbd54;
		}
		body.category-promocion-humana .btn-custom, body.single-post .category-box.promocion-humana .btn-custom, body.single-post .category-box.promocion-humana .btn-custom:hover {
			border-color: #6fbd54;
		}
		.blog-contents .item .content .category.promocion-humana span {
			background-color: #6fbd54;
		}
		body.single-post .page-header .category-box.promocion-humana .title a, .widget_categories > ul > li.cat-item-10:hover::before {
			color: #6fbd54;
		}.homepage_grid .item .category.servicios-de-salud, body.category-servicios-de-salud #page-header .page-title, body.category-servicios-de-salud .btn-custom, body.category-servicios-de-salud .category-icon, body.single-post .category-box.servicios-de-salud .category-icon, body.single-post .category-box.servicios-de-salud .btn-custom, body.single-post .category-box.servicios-de-salud .btn-custom:hover {
			background-color: #262ed5;
		}
		body.category-servicios-de-salud .tt-heading.title-wrapper {
			background: #262ed5;
		}
		body.category-servicios-de-salud .btn-custom, body.single-post .category-box.servicios-de-salud .btn-custom, body.single-post .category-box.servicios-de-salud .btn-custom:hover {
			border-color: #262ed5;
		}
		.blog-contents .item .content .category.servicios-de-salud span {
			background-color: #262ed5;
		}
		body.single-post .page-header .category-box.servicios-de-salud .title a, .widget_categories > ul > li.cat-item-8:hover::before {
			color: #262ed5;
		}.homepage_grid .item .category.voluntarios, body.category-voluntarios #page-header .page-title, body.category-voluntarios .btn-custom, body.category-voluntarios .category-icon, body.single-post .category-box.voluntarios .category-icon, body.single-post .category-box.voluntarios .btn-custom, body.single-post .category-box.voluntarios .btn-custom:hover {
			background-color: #007042;
		}
		body.category-voluntarios .tt-heading.title-wrapper {
			background: #007042;
		}
		body.category-voluntarios .btn-custom, body.single-post .category-box.voluntarios .btn-custom, body.single-post .category-box.voluntarios .btn-custom:hover {
			border-color: #007042;
		}
		.blog-contents .item .content .category.voluntarios span {
			background-color: #007042;
		}
		body.single-post .page-header .category-box.voluntarios .title a, .widget_categories > ul > li.cat-item-7:hover::before {
			color: #007042;
		}.homepage_grid .item .category.voluntarios-del-ano, body.category-voluntarios-del-ano #page-header .page-title, body.category-voluntarios-del-ano .btn-custom, body.category-voluntarios-del-ano .category-icon, body.single-post .category-box.voluntarios-del-ano .category-icon, body.single-post .category-box.voluntarios-del-ano .btn-custom, body.single-post .category-box.voluntarios-del-ano .btn-custom:hover {
			background-color: #46b1f8;
		}
		body.category-voluntarios-del-ano .tt-heading.title-wrapper {
			background: #46b1f8;
		}
		body.category-voluntarios-del-ano .btn-custom, body.single-post .category-box.voluntarios-del-ano .btn-custom, body.single-post .category-box.voluntarios-del-ano .btn-custom:hover {
			border-color: #46b1f8;
		}
		.blog-contents .item .content .category.voluntarios-del-ano span {
			background-color: #46b1f8;
		}
		body.single-post .page-header .category-box.voluntarios-del-ano .title a, .widget_categories > ul > li.cat-item-14:hover::before {
			color: #46b1f8;
		}